<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <%- include("./header") %> 
    </header>
    <section class="detail-section">
        <h1 class="page-heading"><%= title %></h1>
        <div class="console-detail-info">
            <p class="detail-info">Price: $<%= console.price %></p>
            <p class="detail-info">In-stock: <%= console.stock %></p>
            <p class="detail-info">Release Year: <%= console.releaseYear %></p>
            <a href=<%= "/inventory/console/" + console._id + "/update" %> class="edit-link">
                <button class="update-link-button">Update Console</button>
              </a>
              <a href=<%= "/inventory/console/" + console._id + "/delete" %> class="edit-link">
                <button class="delete-link-button">Delete Console</button>
              </a>
        </div>
        <h2>Games for this Console</h2>
        <div class="list-container">
            <% for (let i = 0; i < videogame_list.length; i++) { %>
                <a href=<%= videogame_list[i].url %> class="list-detail-link">
                    <div class="list-item-container shadow">
                        <p class="list-caption"><%= videogame_list[i].name %> - <%= videogame_list[i].stock %></p>
                    </div>
                </a>
            <% } %>
        </div>
    </section>
  </body>
</html>