<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <%- include("./header") %> 
    </header>
    <section class="summary-section">
      <h1 class="page-heading"><%= title %></h1>
      <p class="summary-info">Unique videogames in inventory: <%= data.videogame_count %></p>
      <p class="summary-info">Total stock in inventory: <%= data.total_stock %></p>
      <p class="summary-info">Unique consoles in inventory: <%= data.console_count %></p>
      <p class="summary-info">Unique genres of games in inventory: <%= data.genre_count %></p>
    </section>
  </body>
</html>
